<h1>hi  </h1>

<% data.forEach((element) => { %> 
    <div class="card">
        <p>
            <%= element.propertyTitle %> 
            <%= element.propertyAddress %>
            <%= element.propertyPrice %>
        </p>
    </div>
<% }) %> 
<form action="/logout?_method=DELETE" method="POST">
</form>